/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.mx-auto {
  margin: 0 auto;
}

.lh-base {
  line-height: 1.5;
}

.bg-dark {
  background-color: #000;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-65 {
  margin-bottom: 68px;
}

.mb-144 {
  margin-bottom: 144px;
}

.pt-56 {
  padding-top: 56px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-160 {
  padding-bottom: 160px;
}

.py-64 {
  padding: 64px 0;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-64 {
  font-size: 64px;
}

.banner-content {
  height: 958px;
  background: url(../images/photo-1552393700-42696fb89bfa.png);
  background-position: center;
  background-size: cover;

  & > h1 {
    font-size: 80px;
  }

  & li {
    margin: 0 8px;
    width: 60px;
  }
}

.about {
  width: 384px;
}

.about-education {
  margin: 0 -32px;
}

.about-experience > li::before {
  display: inline-block;
  margin-right: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
  content: " ";
}

.brand-photos {
  width: 1200px;
}

.work-photos {
  width: 1200px;

  & > li {
    width: 384px;
  }

  & > li:nth-child(n + 4):nth-child(-n + 5) {
    width: 588px;
    margin: 48px 0;
  }
}
